html 
    head 
        title= "form"
    body 
        h2="Complete el formulario"
        form(action="/", method="post") 
            input(type="text", name="title", placeholder="title")
            input(type="number", name="price", placeholder="price")
            input(type="text", name="thumbnail", placeholder="thumbnail")
            button="Enviar"
        a(href="http://localhost:8080/productos")
            button="Volver a la tabla" 