<h1>Complete el formulario</h1>
<form action="/" method="post">
        <input type="text" name="title" id="1" placeholder="title">
        <input type="number" name="price" id="2" placeholder="price">
        <input type="text" name="thumbnail" id="3" placeholder="thumbnail">
        <button>Send</button>
</form>
<a href="/productos"><button>Volver a la tabla</button></a>