<h1>Tabla</h1>
<ul>
    {{#each products}}
        <li>title:{{this.title}} price:{{this.price}} thumbnail:{{this.thumbnail}}</li>
    {{/each}}
</ul>
<a href="/"><button>Volver al formulario</button></a>